.hamburger-icon {
    height: 60px;
    width: 60px;
    z-index: 1000;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background: transparent;
}

.icon-1,
.icon-2,
.icon-3 {
    position: absolute;
    border-radius: 10px;
    width: 30px;
    height: 3.5px;
    background-color: white;
    transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
}

.icon-1 {
    transform: translateY(-8px);
    animation-delay: 100ms;
}

.icon-3 {
    transform: translateY(8px);
    animation-delay: 250ms;
}

.icon-1.a {
    transform: rotate(40deg);
}

.icon-3.b {
    transform: rotate(-40deg);
}

.icon-2.c {
    opacity: 0;
}